.container {
    margin: 40px 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.donateForm {
    flex: 1 0 400px;
    width: calc(200px + 20vw);
}
.donateForm textarea {
    height: 140px;
}

.messageBox {
    margin-top: 20px;
}

.button {
    font-size: 18px;
    color: white;
    background-color: #18114c;
    border-radius: 8px;
    border: none;
    padding: 4px 10px;
    width: 160px;
    margin: 20px auto 0 calc(50% - 80px);
}
.buttonWhite {
    font-size: 26px;
    color: black;
    background-color: white;
    border-radius: 8px;
    border: none;
    width: 160px;
    padding: 10px;
}