label {
  display: block;
  margin-top: 10px;
}

.navbar {
  padding: 10px 20px;
  background-color: #18114c;
  color: #18114c;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* Reset bootstrap spaces to handle manually */
.container {
  --bs-gutter-x: 0;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

/* Nav bar */
.navbar-brand {
  margin-right: auto;
}
.nav-item {
  margin: 5px 10px;
}

/* Logo */
.logo {
  width: 40px;
  margin-right: 20px;
}


/* Footer */
footer {
  display: flex;
  flex-direction: row;
  background-color: #1e1c1c;
  color: #c0c0c0;
  width: calc(100vw - 10px);
  justify-content: space-around;
  padding: 20px;
}
footer-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer-section h3 {
  font-size: 20px;
}
footer-section p {
  font-size: 16px;
}
.footer-link {
  margin: 0;
  padding: 0;
  color: #c0c0c0;
  font-size: 16px;
}
.footer-link-override {
  margin: 5px 0;
}
